# Importing Data

In [1]:
import pandas as pd
import numpy as np
path = 'cookie_business.xlsx'
dirty_df = pd.read_excel(
     path,
     engine='openpyxl',
)

In [2]:
dirty_df.head(15)

,Customer ID,Age,Age Group,Postcode,Gender,Favourite Cookie,Cookies bought each week
0,1001,60,60-69,2000,M,Choc chip,1
1,1002,53,50-59,2010,M,Choc chip,1
2,1003,22,20-29,2010,F,Choc chip,2
3,1004,30,30-39,2010,F,Choc chip,6
4,1005,52,50-59,2010,F,Macadamia,3
5,1006,22,20-29,2022,F,Macadamia,3
6,1007,26,20-29,2010,F,Macadamia,8
7,1008,40,40-49,2022,F,Triple choc,2
8,1009,42,40-49,2022,F,Granola,1
9,1010,22,20-29,2000,M,Granola,3
10,1011,18,10-19,2000,F,Macadamia,6
11,1012,33,30-39,2873,M,Macadamia,6
12,1013,32,30-39,2000,M,Macadamia,6
13,1014,29,20-29,2000,M,Macadamia,3
14,1015,58,50-59,2000,M,Triple choc,3

In [3]:
dirty_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 7 columns):
Customer ID                 46 non-null int64
Age                         46 non-null int64
Age Group                   46 non-null object
Postcode                    46 non-null int64
Gender                      46 non-null object
Favourite Cookie            46 non-null object
Cookies bought each week    46 non-null int64
dtypes: int64(4), object(3)
memory usage: 2.6+ KB

In [4]:
dirty_df.describe()

       Customer ID        Age     Postcode  Cookies bought each week
count    46.000000  46.000000    46.000000                 46.000000
mean   1023.500000  34.173913  2136.217391                  3.978261
std      13.422618  16.189577   204.315433                  3.666601
min    1001.000000  12.000000  2000.000000                  1.000000
25%    1012.250000  20.250000  2000.000000                  1.250000
50%    1023.500000  31.500000  2014.500000                  3.000000
75%    1034.750000  44.750000  2296.250000                  5.750000
max    1046.000000  68.000000  2873.000000                 20.000000

# Why we chose this dataset

We chose this dataset because it represents a simplified example of a start-up cookie business research. Once organized, the data allows us to see what areas, age groups, and flavors we should focus on.

# Cleaning Data

Note: Male = 0 and Female = 1

In [5]:
dirty_df["Gender"].replace('M', 0, regex = True, inplace=True)
dirty_df["Gender"].replace('F', 1, regex = True, inplace=True)

In [8]:
clean_df = dirty_df["Gender"] = pd.to_numeric(dirty_df["Gender"])
clean_df = dirty_df
clean_df

,Customer ID,Age,Age Group,Postcode,Gender,Favourite Cookie,Cookies bought each week
0,1001,60,60-69,2000,0,Choc chip,1
1,1002,53,50-59,2010,0,Choc chip,1
2,1003,22,20-29,2010,1,Choc chip,2
3,1004,30,30-39,2010,1,Choc chip,6
4,1005,52,50-59,2010,1,Macadamia,3
5,1006,22,20-29,2022,1,Macadamia,3
6,1007,26,20-29,2010,1,Macadamia,8
7,1008,40,40-49,2022,1,Triple choc,2
8,1009,42,40-49,2022,1,Granola,1
9,1010,22,20-29,2000,0,Granola,3
10,1011,18,10-19,2000,1,Macadamia,6
11,1012,33,30-39,2873,0,Macadamia,6
12,1013,32,30-39,2000,0,Macadamia,6
13,1014,29,20-29,2000,0,Macadamia,3
14,1015,58,50-59,2000,0,Triple choc,3
15,1016,36,30-39,2000,1,Mint,2
16,1017,37,30-39,2000,1,Choc chip,2
17,1018,46,40-49,2321,1,Choc chip,1
18,1019,68,60-69,2000,1,Triple choc,4
19,1020,64,60-69,2000,1,Macadamia,3
20,1021,34,30-39,2000,1,Macadamia,3
21,1022,66,60-69,2000,0,Macadamia,3
22,1023,61,60-69,2000,0,Macadamia,4
23,1024,55,50-59,2000,0,Mint,5
24,1025,42,40-49,2210,1,Choc chip,9
25,1026,57,50-59,2030,0,Choc chip,6
26,1027,32,30-39,2763,0,Salted caramel,1
27,1028,17,10-19,2331,1,Granola,10
28,1029,17,10-19,2331,1,Granola,11
29,1030,18,10-19,2344,1,Choc chip,20
30,1031,22,20-29,2093,1,Choc chip,1
31,1032,19,10-19,2444,1,Mint,1
32,1033,19,10-19,2000,0,Salted caramel,1
33,1034,16,10-19,2332,1,Triple choc,1
34,1035,17,10-19,2333,0,Macadamia,4
35,1036,12,10-19,2347,0,Triple choc,1
36,1037,33,30-39,2093,0,Granola,1
37,1038,21,20-29,2001,0,Granola,1
38,1039,20,20-29,2210,0,Macadamia,11
39,1040,25,20-29,2211,1,Macadamia,2
40,1041,31,30-39,2222,1,Macadamia,3
41,1042,29,20-29,2019,1,Macadamia,3
42,1043,45,40-49,2000,1,Triple choc,3
43,1044,44,40-49,2000,1,Mint,3
44,1045,17,10-19,2321,0,Choc chip,2
45,1046,13,10-19,2321,1,Choc chip,7

# Describing Data

Grouping by favorite cookie, finding average of columns, and then sorting by cookies bought each week

In [17]:
modified_df = clean_df.groupby("Favourite Cookie").mean().sort_values("Cookies bought each week", ascending= False)
modified_df[['Cookies bought each week']]

                  Cookies bought each week
Favourite Cookie
Choc chip                         4.833333
Granola                           4.500000
Macadamia                         4.437500
Mint                              2.750000
Triple choc                       2.333333
Salted caramel                    1.000000

Grouping by age group, finding average of columns, and then sorting by age

In [19]:
modified_df = clean_df.groupby("Age Group").mean().sort_values("Age", ascending= True)
modified_df[['Cookies bought each week']]

           Cookies bought each week
Age Group
10-19                      5.818182
20-29                      3.700000
30-39                      3.333333
40-49                      3.166667
50-59                      3.600000
60-69                      3.000000

Grouping by postal code, finding average of columns, and then sorting by cookies bought each week

In [ ]:
clean_df.groupby("Postcode").mean().sort_values("Cookies bought each week", ascending= False)